html{
  height: 100%;
}

body{
  min-height: 100%;
}

.App {
  text-align: center;
  margin: auto;
  height: 100vh;
  width: 100%;  
  overflow: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home{  
  background-size: cover;
  background-position: center center;
  background-image: url('./images/backgroundImage.jpg');
  font-family: 'Poller One';
  text-align: right;
  margin-right: 10%;
  padding-top: 10%;
  height: 100%;
  width: 100%;
  padding-right: 5%;
}

.jacob{
  /* margin-right: 10px; */
  font-size: 250%;
  display: inline-block;
  color: #ff69b4
}

.jacob:hover{
  color: #ff69b4;
  cursor: pointer;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:white;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.proj{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Oswald';
}

.project-title{
  font-family: 'Oswald';
  color: #070b18
}

.row{
  border: 1px solid red
}

.project-page{
  background-image: linear-gradient(rgba(19,37,69,0), rgba(19, 37, 69, .8), rgba(19, 37, 69, 1));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding-left: 2%;
  font-family: 'Oswald';
}

.summary-tech{
  width: 45%;
  overflow: auto;
}

.project-content{
  width: 100%;
  color: #837285;
  padding: 1%;
}

.gifs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}

/* these are the gifs that are shown on the individual project pages and the videos on the main 
project page*/
iframe{
  margin-top: 1%;
}

.navlink{
  font-family: 'Oswald';
  color: white;
  margin: 1%;
}

.navlink:hover{
  color: white;
}

#nav{
  text-align: right;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  background-color: black;
}

.about-page{
  width: 100%;
  background-image: linear-gradient(rgba(19,37,69,0), rgba(19, 37, 69, .8), rgba(19, 37, 69, 1));
  color: #837285;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
}
#profile-picture{
  margin: 20px;
}

.bio{
  font-family: 'Oswald';
  width: 50%;
}

.contact-info{
  width: 100vw;
}

.icon{
  margin-right: 1%;
  margin-left: 1%;
  color: #837285;
}

.icon:hover{
  color: #ff69b4;
}

.fixer-link{
  color: #837285;
  text-decoration: underline;
}

.fixer-link:hover{
  color: #ff69b4;
}

.no-content-page{
  color: #ff69b4;
  size: 100%;
  font-family: 'Coda Caption', sans-serif;
  border-style: solid;
  display: inline-block;
  padding: 2%;
  margin-top: 5%;
  background-color: rgba(19, 37, 69, .3);
  box-shadow: 0px 0px 40px 5px #ff69b4;
}