html{
  height: 100%;
}

body{
  min-height: 100%;
}

.App {
  text-align: center;
  background-image: url('./backgroundImage.jpg');
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
  margin: auto;
  height: 105vh;
  width: 100%;  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  font-family: 'Poller One';
  text-align: right;
  margin-right: 10%;
  padding-top: 10%;
}

.jacob{
  font-size: 250%;
  display: inline-block;
}

.jacob:hover{
  color: #837285;
  cursor: pointer;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.proj{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Oswald';
}

.project-title{
  color: #070b18
}

.project-title:hover{
  color: white;
}

.project-page{
  background-image: linear-gradient(rgba(19,37,69,0), rgba(19, 37, 69, .8), rgba(19, 37, 69, 1));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding-left: 2%;
  font-family: 'Oswald';
}

.summary-tech{
  border-style: solid;
  width: 45%;
  overflow: auto;
}


.project-content{
  width: 100%;
  color: #837285;
  border-style: solid;
  padding: 1%;
}

.gifs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  border-style: solid;
}

/* these are the gifs that are shown on the individual project pages and the videos on the main 
project page*/
iframe{
  margin-top: 2%;
}

.navlink{
  font-family: 'Oswald';
  color: white;
  margin: 1%;
}

.navlink:hover{
  color: white;
}

#nav{
  text-align: right;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  /* display: inline-block; */
}

.about-page{
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(19,37,69,0), rgba(19, 37, 69, .8), rgba(19, 37, 69, 1));
  color: #837285;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
#profile-picture{
  margin: 20px;
}

.bio{
  font-family: 'Oswald';
  width: 50%;
}

.contact-info{
  /* border-style: solid; */
  width: 100vw;
}

.icon{
  margin-right: 1%;
  margin-left: 1%;
  color: #837285;
}

.icon:hover{
  color: white;
}